<video #preview [style.object-fit]="previewFitMode">
  <p>
    Your browser does not support this feature, please try to upgrade it.
  </p>
  <p>
    Seu navegador não suporta este recurso, por favor tente atualizá-lo.
  </p>
</video>

<!-- Research the Git -->
<!-- 
  1. SAVE CHANGES 
    #git stash save (or git stash))
  2. GET CHANGES
    #git stash list => see the changes
    #git stash list -p => see details all changes
    #git stash list show stash@{1} => see the detail of stash 1.
  3. APPLY CHANGES
    #git stash apply stash@{1} => apply stash 1.
    #git stash apply => apply all stash
  4. DELETE CHANGES NO NEEDED
    #git stash drop stash{1} => delete stash 1
    #git stash pop stash{1} =>nt.
  5. DELETE ALL STACK
    #git stash clear
-->